<div class="container-landing_page">
    <div class="container-dashboard">
        <div class="lines">
            <div class="l1"></div>
            <div class="l2"></div>
        </div>
        <div class="container-first">
            <h1><span>What </span><span>is </span><span>new </span><span>?</span></h1>
            <div class="container-btns">
                <%= link_to 'Discover', posts_path, class:"btn-first b1" %>
                <%= link_to 'Interact', rooms_path, class:"btn-first b2" %>
            </div>
        </div>

            <ul class="medias">
                <li class="bulle">
                    <a href="https://github.com/LaureneEpp" class="bi bi-github logo-medias"></a>
                </li>
            </ul>
    </div>
</div>