<div class="container-landing-page">
    <div class="lines">
        <div class="l1"></div>
        <div class="l2"></div>
    </div>
    <div class="container-first">
        <h1><span>What </span><span>is </span><span>new </span><span>?</span></h1>
        <div class="container-btns">
            <button class="btn-first b1">Discover</button>
            <button class="btn-first b2">Interact</button>
        </div>
    </div>

        <ul class="medias">
            <li class="bulle"><i class="bi bi-facebook logo-medias"></i></li>
            <li class="bulle"><i class="bi bi-instagram logo-medias"></i></li>
            <li class="bulle"><i class="bi bi-github logo-medias"></i></li>
        </ul>
</div>