*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-y: scroll;
  // height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $rich-black;
  background-repeat: no-repeat;
  color: $cornsilk;
  font-family: Georgia, serif;
}

.box {
  // padding: 30px 30px 30px 30px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  // font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: xxx-large ;
}

h2 {
  font-size: xx-large;
  color: $brunswick-green;
  font-weight: bolder;
  text-transform: uppercase;
}
h3 {
  font-size: x-large;
}

h4 {
  font-size: large;
}

h5 {
  font-size: medium;
}

a {
  color: $cornsilk;
  text-decoration: none;

  &:hover {
    color: $cornsilk
  }
}
