*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-color: $rich-black;
  background-repeat: no-repeat;
  color: $cornsilk;
  font-family: Georgia, serif;
}

main {
  padding: 30px 30px 30px 30px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img,
picture,
svg {
  // display: block;
  // max-width: 100%;
}

input,
button,
textarea,
select {
  // font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // line-height: var(--line-height-headers);
}

h1 {
  // font-size: ;
}

h2 {
  font-size: xx-large;
  color: $brunswick-green;
  font-weight: bolder;
  text-transform: uppercase;
}
h3 {
  font-size: x-large;
}

h4 {
  font-size: large;
}

h5 {
  font-size: medium;
}

a {
  color: $cornsilk;
  text-decoration: none;
  // transition: color 200ms;

  // &:hover,
  // &:focus,
  // &:active {
  //   color: var(--color-primary-rotate);
  // }
}
