.container-btns {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 480px) {
    flex-direction: row;
  }
}

.container-first {
  position: absolute;
  top: 20%;
  left: 5%;
  right: 5%;

  h1 {
    text-transform: uppercase;
    font-size: 75px;
    font-weight: bold;
    color: $brunswick-green;
  }

  h1 span {
    position: relative;
  }

  @media screen and (min-width: 480px) {
    h1 {
      font-size: 95px;
    }
  }
}

.container-account,
.container-categories,
.container-comment,
.container-dashboard, 
.container-form,
.container-posts,
.container-profile,
.container-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container-account,
.container-categories,
.container-dashboard, 
.container-form,
.container-posts,
.container-profile
 {
  min-height: 100vh;
  padding-bottom: 30px;
}

.container-account {
  background-image: url("news_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-dashboard {
  background-image: url("news_03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.container-landing_page {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.container-profile {
  background: $gold;
}