.container-btns {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 480px) {
    flex-direction: row;
  }
}

.container-first {
  position: absolute;
  top: 20%;
  left: 5%;
  right: 5%;

  h1 {
    text-transform: uppercase;
    font-size: 75px;
    font-weight: bold;
    color: $brunswick-green;
  }

  h1 span {
    position: relative;
  }

  @media screen and (min-width: 480px) {
    h1 {
      font-size: 95px;
    }
  }
}

.container-categories,
.container-comment,
.container-dashboard,
.container-form,
.container-form-account,
.container-posts,
.container-profile,
.container-publishers,
.container-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container-categories,
.container-dashboard,
// .container-form,
.container-form-account,
.container-posts,
.container-profile, 
.container-publishers {
  padding-bottom: 30px;
  min-height: 100vh;
  height: 100%;
}

.container-account {
  border: 5px solid;
  margin: 20px;
  padding: 15px;

  @media screen and (min-width: 480) {
    width: 75%;
  }
}
.container-dashboard {
  background-image: url("news_03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-form {
  padding-bottom: 30px;
}

.container-form-account {
  background-image: url("news_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-landing_page {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.container-account,
.container-profile {
  background: $gold;
}

.container-table {
  height: 100vh;
  position: relative;
}

.gallery {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
  grid-gap: 10px;
  justify-content: center;
  list-style-type: none;

  @media screen and (max-width: 600px) {
    grid-template-columns: minmax(auto, 450px);
    grid-auto-rows: auto;
    grid-gap: 25px;
    padding: 20px 20px 20px 20px;
  }
}