<div class="container container-account">
    <div class="row">
        <div class="col-8">
            <h3><%= @user.fullname %></h3>
            <h6>
                <%= pluralize(@posts, "Posts") %>
            </h6>
        </div>
    </div>

</div>