.card-image {
  position: relative;
  text-align: center;
  color: $cornsilk;
}
.card-information {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .card-title {
    display: inline-flex;
    flex-direction: row;
  }
  a:hover {
    text-decoration: none;
    color: $cornsilk;
  }


  .title, .subtitle {
    font-weight: bold;
  }
  
  .title {
    font-size: larger;
  }

  .subtitle{
    font-size: medium;
  }

  .date {
    font-size: small;
    font-weight: normal;
  }
}

#category-index {
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;

  .category-title {
    margin: 10px 50px 20px 0;
    font-weight: bolder;
    text-transform: uppercase;
  }

  hr {
    border-top: 1px solid $cornsilk;
  }
}

.card-post-profile {
  background-color: $rich-black;
  padding: 15px 15px 15px 15px;
  
  a {
    text-decoration: none;
    color: $cornsilk;
  }
  .card-text {
    text-align: justify;
  }
}