.comment {
    margin-top: 20px;
    margin-bottom: 5px;
  
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
    }
  
    &-title {
      font-size: medium;
    }
  
    &-actions {
      display: flex;
      gap: 5px;
    }
  }