.comment {
    margin-top: 20px;
    margin-bottom: 5px;
  
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
    }
  
    &-title {
      font-size: x-large;
  
    //   @include media(tabletAndUp) {
    //     font-size: xx-large;
    //   }
    }
  
    &-actions {
      display: flex;
      gap: 5px;
    }
  }