.form,
.simple-form {
  background-color: $gold;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px $black;
  width: 80%;
  padding: 20px;
  overflow: hidden;
  word-break: break-all;
}

.simple_form {
  input,
  label {
    // color: $rich-black;
  }     
  input {
    margin: 5px auto 0px auto;
    word-break: break-word;
  }

  label,
  select {
    margin-top: 15px;
  }

  label {
    margin-bottom: 5px;
  }

  .post_image {
    display: table-caption;
  }
}

.form-title {
  margin: 10%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    display: block;
    padding: 15px;
    background-color: $brunswick-green;
    color: $cornsilk;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.form-account {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.form-comment {
  background-color: $peach;
  .form-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 20px;

    @media screen and (min-width: 600px) {
      flex-direction: row;
      align-items: flex-end;
    }
  }
}

#post_search {
  display: flex;
  //   @media (min-width: 991px)   {
  //     display: none;
  //   }
}