.icon-create, .icon-delete, .icon-comment, .icon-edit {
  background: transparent;
  border: none;
  font-size: larger;
}

.icon-create {
  color: $tyrian-purple;

  &:hover {
    color: $peach;
  }
}



.icon-edit {
  color: $peach;
  &:hover {
    color:$peach;
  }
}