#commentModal {
  .modal-content {
    background-color: $rich-black;
    color: $cornsilk;
  }
}

.comment-title {
  color: $cornsilk;
}

#followeesModal {
  .modal-content {
    background: $rich-black;
    color: $cornsilk;
  }
}