#commentModal {
  .modal-content {
    background-color: $rich-black;
    color: $cornsilk;
  }
}

.comment-title {
  color: $cornsilk;
  a:hover {
    text-decoration: none;
    color: $cornsilk;
  }
}