.navbar {
  margin-bottom: 0;
  background: $rich-black;
  color: $cornsilk;

  .navbar-brand,
  .nav-item,
  .navbar-toggler {
    color: $cornsilk;
  }

  a.navbar-brand {
    font-size: 30px;
    font-weight: bolder;
  }

  .navbar-toggler {
    background-color: $gold;
  }

  .admin {
    background: $red-patone;
  }

  @media (max-width: 991px) {
    a.nav-link {
      font-size: large;
    }
    #navbarText {
      background-color: #004643;
      border-radius: 5px;
      box-shadow: 5px 5px 5px $gold;
      padding: inherit;
      margin-top: 10px;
    }
    .admin {
      background-color: transparent;
      color: $red-patone;
    }
  }

  @media (min-width: 991px) {
    #navbarText {
      display: flex;
      justify-content: flex-end;
    }

    a.nav-link {
      font-size: x-large;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }
}

.nav-tabs {
  width: 90%;
  position: absolute;
  top: 0;
  margin-top: 50px;

  .nav-link {
    text-transform: uppercase;
    font-weight: 600;
    color: $cornsilk;
  }
  [data-bs-toggle="tab"][aria-selected="true"] {
    background: $gold;
    color: $rich-black;
  }
}

.tab-content {
  width: 90%;
  height: 70%;
  margin-top: auto;
}
