#post {
  padding: 30px 30px 30px 30px;
}

.post-content {
  padding: 35px;
  margin: 35px auto;
  background-color: $gold;
  color: $rich-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 600px) {
    padding: 70px;
    margin: 70px auto;
  }

  .post-category h1 {
    margin: 10px;
    padding: 10px;
    font-size: x-large;
    font-weight: bolder;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  article {
    text-align: justify;
  }
}

.post-image {
  position: relative;
  display: grid;

  @media screen and (min-width: 480px) {
    .post-image-picture,
    .post-image-heading {
      grid-area: 1/-1;
    }
  }

  .post-image-picture img {
    width: 100%;
    margin: auto;
    min-width: 150px;
    max-height: 450px;
  }

  .post-image-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 1em;
  }
}

.post-image-heading {
  .post-title,
  .post-subtitle,
  .post-author {
    display: flex;
    justify-content: center;
  }
  .post-title {
    h1 {
      display: inline-flex;
      flex-direction: row;
    }
  }

  .post-comments {
    display: inline-flex;

    align-content: center;
    align-items: center;
    justify-content: flex-end;
  }

  h1,
  h3,
  h5 {
    display: block;
    padding: 15px;
    background-color: $brunswick-green;
    color: $cornsilk;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  h1 {
    font-size: larger;
    font-weight: bold;
  }

  h3,
  h5 {
    font-size: small;
    font-weight: normal;
    opacity: 0.8;
  }

  @media screen and (min-width: 480px) {
    .post-title,
    .post-subtitle,
    .post-author {
      justify-content: flex-start;
    }

    h3,
    h5 {
      margin-bottom: 4em;
    }
  }

  @media screen and (min-width: 600px) {
    .post-image-heading {
      h1 {
        font-size: x-large;
        font-weight: bolder;
      }

      h3,
      h5 {
        font-size: medium;
        font-weight: bold;
      }
    }
  }
}

.index-title,
.post-form-title {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  h1,
  h3 {
    padding: 15px;
    color: $brunswick-green;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bolder;
  }
}
