#single-room {
  // height: calc(100vh - 150px);
}
#messages {
  // height: calc(100vh - 150px);
  overflow-x: scroll;
  overflow-y: scroll;
  height: 80%;
  overflow: scroll;
  scroll-behavior: auto;
}

#room_container {
  // height: 100vh;
  max-height: 100vh;
  height: 100%;
  margin-right: 0px !important;
  padding: 30px 30px 30px 30px;
  overflow-x: scroll;
  overflow-y: scroll;
}

#side_panel {
  // height: 100vh;
  // height: 100%;
  margin-right: 0px !important;
  overflow-x: scroll;
  overflow-y: scroll;
  // margin-bottom: 55px;
  padding: 30px 30px 30px 30px;
  background-color: $gold;

  .panel-title {
    h3 {
      margin-top: 30px;
      font-weight: bolder;
      text-transform: uppercase;
      color: $brunswick-green;
    }
  }
}
#chatroom_container {
  height: 100vh;
  margin-right: 0px !important;
  overflow-x: scroll;
  overflow-y: scroll;

  h3 {
    font-size: xx-large;
    color: $cornsilk;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}
.message-box {
  word-wrap: break-word;
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555;
  padding: 10px;
}
